<h1>Stock Dashboard!</h1>

<!-- search stock via ticker  -->
<form [formGroup]="form" (submit)="search()">
    <tr>
        <td></td>
        <td><input type="text" size="30" formControlName="ticker"></td>
    </tr>


    <button type="submit" [disabled]="form.invalid">Search</button>
</form>

<button (click)="donate()">Donate</button>

<button type="button" [routerLink]="['/logout']">Logout</button>

<!-- maybe a button to link to telegram -->


<!-- display current list of stock associated with user -->
<h2>Portfolio</h2>

@for (stock of stockSum; let idx = $index; track stock.symbol) {
    <a [routerLink]="['/details']" [queryParams]="{ ticker: stock.symbol }">
        {{ stock.symbol }} ({{ stock.companyName }})
    </a>
<button (click)="delete(stock.symbol)">Delete</button>
<br>
}

@empty {
    <h2>portfolio is empty!</h2>
}

