<h2>Register account</h2>


<form [formGroup]="form" (submit)="register()">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" size="30" formControlName="name">
                <div *ngIf="form.get('name')?.touched && form.get('name')?.invalid" class="error">
                    Name is required
                </div>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" size="30" formControlName="email">
                <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="error">
                    <div *ngIf="form.get('email')?.errors?.['required']">Email is required</div>
                    <div *ngIf="form.get('email')?.errors?.['pattern']">Invalid email format</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" size="30" formControlName="password">
                <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="error">
                    <div *ngIf="form.get('password')?.errors?.['required']">Password is required</div>
                    <div *ngIf="form.get('password')?.errors?.['pattern']">
                        Password must be 8+ characters with uppercase, lowercase, number, and special character
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Confirm Password:</td>
            <td><input type="text" size="30" formControlName="password2">
                <div *ngIf="form.get('password2')?.touched && form.get('password2')?.invalid" class="error">
                    Please confirm your password
                </div>
            </td>
        </tr>

        <tr>
            <td>{{message}}</td>
        </tr>

        <button type="button" (click)="clear()">Clear</button>
        <button type="submit">Register</button>
        <button type="button" [routerLink]="['/']">Back</button>

    </table>

</form>


